<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<b>The NFL Player Tracker Edit Entry Page</b><br><br>
{{#player}}
<form action="edit-player" method="post">
    <input type="hidden" value="{{id}}" name="id"/>
    <input type="text" value="{{name}}" name="name" size="40"/>
    <input type="number" value="{{number}}" name="number"/>
    <input type="number" value="{{age}}" name="age"/>
    <select name="team">
        <option selected disabled>Select Team</option>
        <option value="49ers">49ers</option>
        <option value="Bears">Bears</option>
        <option value="Bengals">Bengals</option>
        <option value="Bills">Bills</option>
        <option value="Broncos">Broncos</option>
        <option value="Browns">Browns</option>
        <option value="Bucaneers">Bucaneers</option>
        <option value="Cardinals">Cardinals</option>
        <option value="Chargers">Chargers</option>
        <option value="Cheifs">Cheifs</option>
        <option value="Colts">Colts</option>
        <option value="Cowboys">Cowboys</option>
        <option value="Dolphins">Dolphins</option>
        <option value="Eagles">Eagles</option>
        <option value="Falcons">Falcons</option>
        <option value="Giants">Giants</option>
        <option value="Jaguars">Jaguars</option>
        <option value="Jets">Jets</option>
        <option value="Lions">Lions</option>
        <option value="Packers">Packers</option>
        <option value="Panthers">Panthers</option>
        <option value="Patriots">Patriots</option>
        <option value="Raiders">Raiders</option>
        <option value="Rams">Rams</option>
        <option value="Ravens">Ravens</option>
        <option value="Redskins">Redskins</option>
        <option value="Saints">Saints</option>
        <option value="Seahawks">Seahawks</option>
        <option value="Steelers">Steelers</option>
        <option value="Texans">Texans</option>
        <option value="Titans">Titans</option>
        <option value="Vikings">Vikings</option>
        <option value="Free Agent">Free Agent</option>
        <option value="Retired">Retired</option>
    </select>
    <select name="position">
        <option selected disabled>Select Position</option>
        <option value="QB">QB</option>
        <option value="HB">HB</option>
        <option value="FB">FB</option>
        <option value="WR">WR</option>
        <option value="TE">TE</option>
        <option value="LT">LT</option>
        <option value="LG">LG</option>
        <option value="C">C</option>
        <option value="RG">RG</option>
        <option value="RT">RT</option>
        <option value="LE">LE</option>
        <option value="DT">DT</option>
        <option value="RE">RE</option>
        <option value="LOLB">LOLB</option>
        <option value="MLB">MLB</option>
        <option value="ROLB">ROLB</option>
        <option value="CB">CB</option>
        <option value="FS">FS</option>
        <option value="SS">SS</option>
        <option value="K">K</option>
        <option value="P">P</option>
    </select>
    <button type="submit">Submit Changes</button>
</form>
<br>
Entry to edit:<br>
<b>#{{number}}</b> {{name}} - {{age}} years old<br>
Team: {{team}}<br>
Position: {{position}}<br>
{{/player}}
</body>
</html>